* {
    box-sizing: border-box;
}

.box {
    /*display: -webkit-box;
    display: -ms-flexbox;*/
    /*display: flex;*/
    background-color: #eee
}

.box:after {
    content: ' ';
    display: block;
    height: 0;
    width: 0;
    clear: both;
}

.box,
.left,
.mid,
.right,
.small-box {
    padding: 20px;
    border: 1px solid #999;
}

.left,
.mid,
.right {
    background-color: #fff;
}

.small-box {
    background-color: #eee;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 14px;
    padding: 20px 6px;
}

.left {
    width: 200px;
    float: left;
}

.left .small-box {
    display: inline-block;
}

.left>span {
    vertical-align: top;
}

.right {
    width: 120px;
    float: right;
}

.mid {
    margin-left: 220px;
    margin-right: 140px;
}

.right .small-box:not(:last-child) {
    margin-bottom: 20px;
}