.main {
    position: relative;
    margin: 15% auto;
    width: 400px;
    height: 200px;
    background-color: #ccc;
    overflow: hidden;
}

.left-top,
.right-bottom {
    position: absolute;
    background-color: #fc0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.left-top {
    top: -50px;
    left: -50px;
}

.right-bottom {
    bottom: -50px;
    right: -50px;
}