.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    /*align-content: space-around;*/
    justify-content: space-between;
    flex-flow: row wrap;
    border: 1px solid #000;
}

.common-box {
    padding: 20px;
}

.one,
.two,
.three,
.four {
    /*display: inline-flex;*/
    width: 150px;
    /*margin: 10px;*/
}

.one,
.two,
.three {
    border: 1px solid #f00;
}

.four {
    border: 1px solid #0f0;
}

.one {
    height: 120px;
}

.two {
    height: 100px;
}

.three {
    height: 40px;
}

.four {
    height: 200px;
}

@media screen and (max-width:640px) {
    .four {
        order: -1;
    }
    .container {
        align-items: flex-start;
        align-content: space-around;
    }
}